# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Data / results
# results/
# models/
*.pkl

# macOS
.DS_Store

# Logs
*.log

# Notebook checkpoints
.ipynb_checkpoints/
